@import "elements.css";

@import "../pages/addFlight/addFlightPage.css";
@import "../pages/flightDetails/flightDetails.css";
@import "../pages/home/home.css";
@import "../pages/logBook/logBook.css";

:root {
    --pri: #1b2631;
    --light: #273646;
    --dark: #131c24;
    --accent: #f1c40f
}


*{margin:0;padding:0;font-family: roboto;color:#fff;font-size:inherit;font-weight:inherit;}
body {
    background-color: var(--pri);
    overflow-x: hidden;
}

/* Global */
.hidden {
    display:none;
}
.page {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin:0;
    background-color: var(--pri);
}


h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/* TABLE STYLE */
#logHeader, #logBody > div, #logFooter{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 2fr 2fr 2fr 0.8fr 2fr 3fr;
}
#logHeader {
    margin-top: 100px;
}
#logBody, #logFooter {
    margin-top: 5px;
}

#logBody > div:nth-child(odd) {
    background-color: var(--light)
}

#logHeader > div, #logBody > div > div, #logFooter > div{
    text-align: center;
}
#logBody > div > div {
    white-space: nowrap;
    overflow: hidden;
}
#logBody > div {
    padding: 1px 0;
}
#logBody > div:hover {
    cursor: pointer;
}
#logFooter {
    margin-top: 0;
    border-top: 3px solid var(--light);
}

#logHeader > div > div, #logBody > div > div > div, #logFooter > div > div {
    display: flex;
    justify-content:space-around;
}